body{
  background-color: red;
}
nav{
  font-size:5px;
  height: 1em;
  width: 100%;
  padding: 3%;
  text-align: center;
  background-color:rgb(0,0,0);
  text-decoration: none;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 4fr 12fr 12fr;

  
}
a {
  
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 4em;
  font-weight: 900;
  
}

h1{
  text-align: center;
} 
input { 
  padding: 1%;
  margin-top: 1%;
}

.imageThumbnail{
display: flex;


}

img{
  display: flex;
  padding: 4%;
}
.flexCont{
  display: flex;
  overflow: scroll;
  
  
}